{% extends 'frontend/base.html' %}

{% load i18n %}
{% load account %}
{% load url from future %}
{% load staticfiles %}
{% load bootstrap3 %}

{# Just for checking if signup is open #}
{% load display_tags %}

{% block bootstrap3_title %}KOI - {% trans "Sign in" %}{% endblock %}


{% block content %}

<form role="form" class="login form-horizontal" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}

<h2 class="login-heading">{% block title %}{% trans "Please sign in" %}{% endblock %}</h2>


{% if socialaccount.providers  %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{site_name}} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}

	{# http://stackoverflow.com/questions/433162/can-i-access-constants-in-settings-py-from-templates-in-django #}
	{# http://stackoverflow.com/questions/9441647/django-evaluate-simple-tag-result-in-template #}
	
	{% if request|signup_open %}
		<p>{% blocktrans %}If you have not created an account yet, then please 
		<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
	{% endif %}


{% endif %}


  {% bootstrap_form form layout="inline" %}

  
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  
  <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Sign In" %}</button>

<p>  
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
</p>  


</form>

{% endblock %}
