{% extends 'frontend/base.html' %}

{% load i18n %}
{% load account %}
{% load url from future %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}{% autoescape off %}{% trans "Change Password" %}{% endautoescape %}{% endblock %}

{% block breadcrumb_menu %}
<li><a href="{% url "index" %}">{% trans "Home" %}</a></li>
<li class="active">{% autoescape off %}{% trans "Change Password" %}{% endautoescape %}</li>
{% endblock %}



{% block content %}

	<form role="form" class="login form-horizontal password_change" method="POST" action="{% url 'account_change_password' %}">
	  	{% csrf_token %}
	
	  	{% bootstrap_form form %}
	  
		<button class="btn btn-lg btn-primary btn-block" name="action" type="submit">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
